body{
	background-color: #003c4e;
}
#trivia-container {
	background-color: grey;
	height: 400px;
}
#trivia-container *{
	color: black;
	text-align: center;
}
#trivia-container .row {
	margin-top: 10px;
	margin-bottom: 10px;
}
#timer {
	background-color: white;
	width: 50%;
	margin: auto;
	border: 2px solid black;
}
#result {
	/*display: none;*/
}
#answers{
	width: 30%;
	margin: auto;
}
#answers * {

	text-align: left !Important;
}
#result {
	width: 50%;
	margin: auto;
}

#initial-screen {
	padding-top: 100px;
}
#timer, #question, #body{
	display: none;
}
#final {
	display: none;
}
.img-responsive {
	margin:auto;
}